<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres, id: :cliente_nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos, id: :cliente_apellidos %>
  </div>

  <div class="field">
    <%= form.label :identificacion %>
    <%= form.text_field :identificacion, id: :cliente_identificacion %>
  </div>

<% tipoId = options_from_collection_for_select(@tipoId, "id","valor",cliente.idtipoidentificacion) %>
<div class="form-group row">
      <label for="idtipoidentificacion" class="col-sm-2 col-form-label">Tipo ID:</label>
   <div class="col-sm-4">
          <%= form.select(:idtipoidentificacion, tipoId,{},{class:"form-control"} ) %>
   </div>
  </div>

  <% idGenero = options_from_collection_for_select(@idGenero, "id","valor",cliente.idtipoidentificacion) %>
<div class="form-group row">
      <label for="idtipoidentificacion" class="col-sm-2 col-form-label">Tipo ID:</label>
   <div class="col-sm-4">
          <%= form.select(:idtipoidentificacion, idGenero,{},{class:"form-control"} ) %>
   </div>
  </div>  
 

  <div class="field">
    <%= form.label :razonSocial %>
    <%= form.text_field :razonSocial, id: :cliente_razonSocial %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :cliente_correo %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :cliente_direccion %>
  </div>

  <div class="field">
    <%= form.label :telefonos %>
    <%= form.text_field :telefonos, id: :cliente_telefonos %>
  </div>

<% tipoCliente = options_from_collection_for_select(@tipoCliente, "id","valor",cliente.idtipocliente) %>
<div class="form-group row">
      <label for="idtipocliente" class="col-sm-2 col-form-label">Tipo Cliente:</label>
   <div class="col-sm-4">
          <%= form.select(:idtipocliente, tipoCliente,{},{class:"form-control"} ) %>
   </div>
  </div>

  <% catcliente = options_from_collection_for_select(@catcliente, "id","valor",cliente.idtipocliente) %>
<div class="form-group row">
      <label for="idtipocliente" class="col-sm-2 col-form-label">Tipo Cliente:</label>
   <div class="col-sm-4">
          <%= form.select(:idtipocliente, catcliente,{},{class:"form-control"} ) %>
   </div>
  </div>
 

  <div class="actions">
    <%= form.submit "Guardar", class:"" %>
  </div>
<% end %>
