<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table-responsive table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Identificacion</th>
      <th>Idtipoidentificacion</th>
      <th>Razonsocial</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Telefonos</th>
      <th>Idtipocliente</th>
      <th>Idcategoriacliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientesExt.each do |cliente| %>
      <tr>
        <td scope="row"><a href="/clientes/<%= cliente['id'] %>"><%= cliente['id'] %></a></td>
        <td><%= cliente["nombres"] %></td>
        <td><%= cliente["apellidos"] %></td>
        <td><%= cliente["identificacion"] %></td>
        <td><%= cliente["Tipo_ID"] %></td>
        <td><%= cliente["razonSocial"] %></td>
        <td><%= cliente["correo"] %></td>
        <td><%= cliente["direccion"] %></td>
        <td><%= cliente["telefonos"] %></td>
        <td><%= cliente["Tipo_Cliente"] %></td>
        <td><%= cliente["Categoria_Cliente"] %></td>
        <td><%= link_to 'Ver', cliente %></td>
        <td><a href="/clientes/<%= cliente['id'] %>/edit">Actualizar</a></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path, {:class=>"btn btn-primary"} %>
