<p id="notice"><%= notice %></p>



<div class="row mt-5 box-shadow p-2 color">
  <div class="col-sm-4">
    <div class="text-center">
      <img src="https://image.flaticon.com/icons/svg/189/189061.svg" class="rounded" alt="...">
    </div>
  </div>  
  
  
  <div class="col-sm-8">
    <div class="row">
      <div class="col">
      <% @clientesExt.each do |cliente| %>
        <p>
          <strong>Nombres:</strong>
         <%= cliente["nombres"] %>
        </p>

        <p>
          <strong>Apellidos:</strong>
          <%= cliente["apellidos"] %>
        </p>

        <p>
          <strong>Identificacion:</strong>
          <%= cliente["identificacion"] %>
        </p>

        <p>
          <strong>Tipo ID:</strong>
          <%= cliente["Tipo_ID"] %>
        </p>
         <p>
          <strong>Razonsocial:</strong>
          <%= cliente["razonSocial"] %>
        </p>

        <p>
          <strong>Correo:</strong>
          <%= cliente["correo"] %>
        </p>

        

       
      </div>
      <div class="col">

        <p>
          <strong>Telefonos:</strong>
          <%= cliente["telefonos"] %>
        </p>

        <p>
          <strong>Direccion:</strong>
         <%= cliente["direccion"] %>
        </p>

        <p>
          <strong>Tipo Cliente:</strong>
          <%= cliente["Tipo_Cliente"] %>
        </p>

        <p>
          <strong>Categoria Cliente:</strong>
          <%= cliente["Categoria_Cliente"] %>
        </p>

       <% end %> 
      </div>
    
    </div>
   
  </div>

</div>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Atras', clientes_path %>
