<%= form_with(model: option, local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col">
      <%= form.label :idpadre %>
      <%= form.number_field :idpadre, id: :option_idpadre , class:'form-control',required:''%>
      </div>
      <div class="col">
        <%= form.label :opcion %>
        <%= form.text_field :opcion, id: :option_opcion, class:'form-control',required:'' %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= form.label :url %>
        <%= form.text_field :url, id: :option_url, class:'form-control',required:'' %>
      </div>
      <div class="col">
        <%= form.label :Estadoopcion %>
        <%= form.text_field :estadoopcion, id: :option_estadoopcion, class:'form-control',required:'' %>
      </div>
      <div class="col">
        <%= form.label :orden %>
        <%= form.text_field :orden, id: :option_orden, class:'form-control',required:'' %>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <%= form.label :controller %>
        <%= form.text_field :controller, id: :option_controller, class:'form-control',required:'' %>
      </div>    
    </div>
  </div>
        
  <div class="form-group">
    <%= form.label :eshoja %>
    <%= form.check_box :eshoja, id: :option_eshoja,required:'' %>
  </div>

  <div class="form-group">
    <%= form.label :eliminado %>
    <%= form.check_box :eliminado, id: :option_eliminado,required:'' %>
  </div>

  <div class="form-group">
  </div>

  <div class="actions">
    <%= form.submit "Guardar" ,class:'btn btn-success' %>
    <% end %>
  </div>
