<%= form_with(model: producto, local: true) do |form| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group"">
      <label for="nombre" >Nombre*</label>
      <%= form.text_field :nombre, :required => true, id: :producto_nombre, class:"form-control" %>		    
    </div>
    <div class="form-group">
      <label for="descripcion" >Descripción</label>
      <%= form.text_field :descripcion, id: :producto_descripcion, class:"form-control" %>
    </div>

    <div class="form-group">
      <label for="ref" >Referencia</label>
      <%= form.text_field :ref, id: :producto_ref, class:"form-control" %>
    </div>
    <div class="form-group">
      <label for="precio" >Precio</label>
      <%= form.number_field :precio, id: :producto_precio, class:"form-control" %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col">
          <% tipos = options_from_collection_for_select(@tipos, "id","valor",producto.idtipoproducto) %>
          <label for="tipo" >Tipo:</label>
          <%= form.select(:idtipoproducto, tipos,{},{class:"form-control"} ) %>
        </div>
        <div class="col">
          <% categorias = options_from_collection_for_select(@categorias, "id","valor",producto.idcategoriaproducto) %>
          <label for="tipo" >Categoria:</label>
          <%= form.select(:idcategoriaproducto, categorias,{},{class:"form-control"} ) %>
        </div>      
      </div>  
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for="stock" >Stock:</label>
        <%= form.number_field :stock, id: :producto_stock, class:"form-control" %>    
      </div>
      <div class="col">
        <label for="imagen" >imagen</label>
        <%= form.text_field :imagen, id: :producto_imagen, class:"form-control" %>
      </div>
      <div class="col">
        <% estados = options_from_collection_for_select(@estados, "id","valor",producto.idestadoproducto) %>
        <label for="tipo" >Estados:</label>
        <%= form.select(:idestadoproducto, estados,{},{class:"form-control"} ) %>
      </div>
    </div>
  </div>

    

  <div class="actions">
     <div class="row">
        <div class="col">
          <%= form.submit "Guardar",class:"btn btn-success btn-lg btn-block" %>
          <% if @swope == 1 %>
              <%  if @operaciones.include?("Eliminar") %>
                <%= link_to 'Eliminar', producto,class:"btn btn-danger btn-lg btn-block", method: :delete, data: { confirm: 'Esta Seguro de ELiminar este Re?' } %>
              <% end %>
          <% end %>
        </div>
        <div class="col">
          <a href="/listarProductos" class="btn btn-info btn-lg btn-block">Regresar</a>
        </div>
      </div>
  </div>
<% end %>
